<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Port de plaisance Russell</title>
    <link rel="stylesheet" href="css/dashboard.css" />
  </head>
  <body>
    <%- include('composants/backButton') %>
    <h1>Gestion des utilisateurs</h1>
    <h2>Ajouter une réservation</h2>
    <form>
      <select>
        <option>Choisir un catway</option>
        <option></option>
      </select>
      <input type="text" placeholder="Nom du client" required />
      <input type="text" placeholder="Nom du bateau" required />
      <input type="date" placeholder="date de début" required />
      <input type="date" placeholder="date de fin" required />
      <button type="submit">Ajouter</button>
    </form>

    <h2>Liste des réservations</h2>
    <div class="tableau">
      <table>
        <thead>
          <tr>
            <th>Numéro du catway</th>
            <th>Nom du client</th>
            <th>Nom du bateau</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script>
      const token = localStorage.getItem("token");
      console.log("Token envoyé (reservationboard) :", token);
      fetch("/api/reservations", {
        headers: {
          Authorization: `Bearer ${localStorage.getItem("token")}`,
        },
      })
        .then((response) => {
          if (!response.ok) {
            console.error("Erreur d'authentification:", response.status);
            return Promise.reject(new Error("Erreur d'authentification"));
          }
          return response.json();
        })
        .then((reservations) => {
          if (Array.isArray(reservations)) {
            const tableBody = document.querySelector("tbody");
            reservations.forEach((reservation) => {
              const row = tableBody.insertRow();
              const catwayCell = row.insertCell();
              const clientCell = row.insertCell();
              const boatCell = row.insertCell();
              const startCell = row.insertCell();
              const endCell = row.insertCell();
              const actionCell = row.insertCell();

              catwayCell.textContent = reservation.catwayNumber;
              clientCell.textContent = reservation.clientName;
              boatCell.textContent = reservation.boatName;
              const startDate = new Date(reservation.startDate);
              const formattedStartDate = `${startDate
                .getDate()
                .toString()
                .padStart(2, "0")}/${(startDate.getMonth() + 1)
                .toString()
                .padStart(2, "0")}/${startDate.getFullYear()}`;
              startCell.textContent = formattedStartDate;

              const endDate = new Date(reservation.endDate);
              const formattedEndDate = `${endDate
                .getDate()
                .toString()
                .padStart(2, "0")}/${(endDate.getMonth() + 1)
                .toString()
                .padStart(2, "0")}/${endDate.getFullYear()}`;
              endCell.textContent = formattedEndDate;
              actionCell.innerHTML = `
                <button class="modifier-btn" data-id="${reservation._id}">Modifier</button>
                <br>
                <button class="supprimer-btn" data-id="${reservation._id}">Supprimer</button>
            `;
            });
            tableBody.addEventListener("click", (event) => {
              if (event.target.classList.contains("modifier-btn")) {
                const reservationId = event.target.dataset.id;
                // TODO: Implémenter la logique de modification pour la réservation avec l'ID reservationId
                console.log("Modifier réservation avec ID :", reservationId);
              } else if (event.target.classList.contains("supprimer-btn")) {
                const reservationId = event.target.dataset.id;
                // TODO: Implémenter la logique de suppression pour la réservation avec l'ID reservationId
                console.log("Supprimer réservation avec ID :", reservationId);
              }
            });
          } else {
            console.error(
              "Les données renvoyées par l'API ne sont pas un tableau:",
              reservations
            );
          }
        });
    </script>
  </body>
</html>
